<% content_for :title, 'Formatting Help' %>

<h4>Formatting Help</h4>

<div class="row">
  <div class="two-thirds column">
    <h6 class="docs-header">Plain Text</h6>
    <p>You do not need to use anything special to use text in escrit. All you need to do is copy and paste it in and it should mostly be alright. If you want to be a bit more fancy, consider the following options to make your texts more usable and nicer to look at.</p>
    <p>A line break in a text is treated as just that, a line break. If you want to create paragraphs with spacing between them, simple have two line breaks instead of one at the end of a paragraph before the next one begins.</p>

    <h6 class="docs-header">Headers</h6>
    <p>escrit also supports adding subheaders to your text. This can be accomplished simply by putting a hashtag (#) in front of a line, turning it into a header. An additional, smaller header is also formatted and is rendered when a line is prefixed by two hashtags (##).</p>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Raw Text</th>
          <th>Formatted Text</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-family: monospace;"># Test Header</td>
          <td><h5>Test Header</h5></td>
        </tr>
        <tr>
          <td style="font-family: monospace;">## Small Header</td>
          <td><h6 class="docs-header">Small Header</h6></td>
        </tr>
      </tbody>
    </table>

    <h6 class="docs-header">Images / Youtube</h6>
    <p>Both images and Youtube videos can be embedded into the site, simply by pasting a URL into a new line of the text. Make sure nothing comes before or after the URL in the text and it is the only thing in that line and it should be rendered embedded into the text as soon as you save and view your text.</p>

    <h6 class="docs-header">Bold / Italic</h6>
    <p>Text segments can be styled to be bold or italic by encapsulating them in special characters. For bold text, those are two asterisks (**), and for italic those are two underscores (__). If you put these characters before and after the text that is supposed to be styled, then it will be rendered as such.</p>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Raw Text</th>
          <th>Formatted Text</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-family: monospace;">This is **a test**.</td>
          <td>This is <b>a test</b>.</td>
        </tr>
        <tr>
          <td style="font-family: monospace;">This is __another test__.</td>
          <td>This is <i>another test</i>.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="one-third column">
    <%= link_to fa_icon("chevron-left") + " Back to Overview", '/help', class: 'button button-primary u-full-width', title: 'Back to Help Overview' %>
  </div>
</div>
