<% content_for :title, 'Help' %>

<h1>Help</h1>

<div class="row">
  <div class="one-half column">
    <h5 class="docs-header">Reading texts</h5>
    <ul>
      <li><%= link_to "How do I use keyboard shortcuts?", '/help/shortcuts' %></li>
      <li><%= link_to "What is the idea behind reading texts?", "/help/reading" %></li>
    </ul>
  </div>
  <div class="one-half column">
    <h5 class="docs-header">Adding new texts</h5>
    <ul>
      <li><%= link_to "How do I format a text?", '/help/format' %></li>
    </ul>
  </div>
</div>
