<% content_for :title, 'Help' %>

<h4>Help</h4>

<div class="row">
  <div class="two-thirds column">
    <div class="row">
      <div class="one-half column centered">
        <%= link_to fa_icon("edit") + " Text Formatting", '/help/format', class: 'button u-full-width', title: 'Formatting Help' %>
      </div>
      <div class="one-half column centered">
        <%= link_to fa_icon("keyboard-o") + " Keyboard Shortcuts", '/help/shortcuts', class: 'button u-full-width', title: 'Formatting Help' %>
      </div>
    </div>
  </div>
  <div class="one-third column">
    <p>This section is still in construction, but here you will find help to a variety of topics of how to use and utilize this website.</p>
  </div>
</div>
