<% content_for :title, 'How do I use keyboard shortcuts?' %>

<h4>How do I use keyboard shortcuts?</h4>

<div class="row">
  <div class="two-thirds column">
    <p>Please note that shortcuts only work while you have a word selected and the input field for notes selected.</p>

    <h6 class="docs-header">Rating Words</h6>
    <p>After selecting a word, you can add a note to it to remember its meaning, grammatical sense or any information you think would be useful. Additionally you are able to rate the word on a scale from 0 to 5.</p>
    <p>To more quickly rate a word you can use the following shortcuts instead of clicking the buttons:</p>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Function</th>
          <th>Shortcut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Set the rating to 0</td>
          <td><code>⌃ Ctrl</code> + <code>0</code></td>
        </tr>
        <tr>
          <td>Set the rating to 1</td>
          <td><code>⌃ Ctrl</code> + <code>1</code></td>
        </tr>
        <tr>
          <td>Set the rating to 2</td>
          <td><code>⌃ Ctrl</code> + <code>2</code></td>
        </tr>
        <tr>
          <td>Set the rating to 3</td>
          <td><code>⌃ Ctrl</code> + <code>3</code></td>
        </tr>
        <tr>
          <td>Set the rating to 4</td>
          <td><code>⌃ Ctrl</code> + <code>4</code></td>
        </tr>
        <tr>
          <td>Set the rating to 5</td>
          <td><code>⌃ Ctrl</code> + <code>5</code></td>
        </tr>
        <tr>
          <td>Mark the word to be ignored</td>
          <td><code>⌃ Ctrl</code> + <code>6</code></td>
        </tr>
        <tr>
          <td>Increase the rating by one</td>
          <td><code>⇧ Shift</code> + <code>↑ Up</code></td>
        </tr>
        <tr>
          <td>Decrease the rating by one</td>
          <td><code>⇧ Shift</code> + <code>↓ Down</code></td>
        </tr>
      </tbody>
    </table>

    <h6 class="docs-header">Navigation in the text</h6>
    <p>To make it somewhat faster to read a text you can use shortcuts to jump from one word to the the next.</p>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Function</th>
          <th>Shortcut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Select next word that is not marked known</td>
          <td><code>↹ Tab</code></td>
        </tr>
        <tr>
          <td>Select previous word that is not marked known</td>
          <td><code>⌥ Alt/Opt</code> + <code>↹ Tab</code></td>
        </tr>
        <tr>
          <td>Select previous word</td>
          <td><code>⇧ Shift</code> + <code>↹ Tab</code></td>
        </tr>
        <tr>
          <td>Select next word</td>
          <td><code>⌥ Alt/Opt</code> + <code>⇧ Shift</code> + <code>↹ Tab</code></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="one-third column">
    <%= link_to fa_icon("chevron-left") + " Back to Overview", '/help', class: 'button button-primary u-full-width', title: 'Back to Help Overview' %>
  </div>
</div>
