<% content_for :title, 'Services' %>

<h4>List of Services</h4>

<div class="row">
  <div class="two-thirds column">
    <table class="u-full-width">
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Language</th>
      </tr>
     
      <% @services.each do |service| %>
        <tr>
          <td><%= link_to service.name, edit_service_path(service), title: 'Edit Service Entry' %></td>
          <td><%= service.short_name %></td>
          <td><%= if service.language then service.language.name else "All" end %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="one-third column">
    <%= link_to 'Add New', new_service_path, class: 'button button-primary u-full-width', title: 'Add a new service' %>
    <p>Here you can see a list of all languages which are available in the system. Users can asign those languages to their texts to keep vocabulary separate between different languages.</p>
  </div>
</div>
