- content_for :title, 'Add new service'

- content_for :header_image_class, 'factory'
- content_for :header_title, 'Add new service'
- content_for :header_subtitle, 'Settings'

.container
  = render 'form'
