- content_for :title, 'Dictation practice'

- content_for :header_image_class, 'europe'
- content_for :header_title, 'Choose language'
- content_for :header_subtitle, 'Dictation practice'

= render 'texts/language_choice', url_prefix: '/dictation'
