$s0_color1: #F1A899;
$s0_color2: #F1A899;
$s0_color3: #F1A899;
$s1_color1: #F9C889;
$s1_color2: #F9C889;
$s1_color3: #F9C889;
$s2_color1: #FFF391;
$s2_color2: #FFF391;
$s2_color3: #FFF391;
$s3_color1: #CAF3A4;
$s3_color2: #CAF3A4;
$s3_color3: #DCF3CA;
$s4_color1: #D0E1F2;
$s4_color2: #D0E1F2;
$s4_color3: #D4DEEB;

span.s0 {
  background-color: $s0_color1;
}

span.s1 {
  background-color: $s1_color1;
}

span.s2 {
  background-color: $s2_color1;
}

span.s3 {
  background-color: $s3_color1;
}

span.s4 {
  background-color: $s4_color1;
}

span.s5 {
  background-color: inherit;
}

span.s6 {
  background-color: inherit;
}

span.s0 {
  background: -webkit-linear-gradient($s0_color1, $s0_color2);
  background: -o-linear-gradient($s0_color1, $s0_color2);
  background: -moz-linear-gradient($s0_color1, $s0_color2);
  background: linear-gradient($s0_color1, $s0_color2);
}

span.s1 {
  background: -webkit-linear-gradient($s1_color1, $s1_color2);
  background: -o-linear-gradient($s1_color1, $s1_color2);
  background: -moz-linear-gradient($s1_color1, $s1_color2);
  background: linear-gradient($s1_color1, $s1_color2);
}

span.s2 {
  background: -webkit-linear-gradient($s2_color1, $s2_color2);
  background: -o-linear-gradient($s2_color1, $s2_color2);
  background: -moz-linear-gradient($s2_color1, $s2_color2);
  background: linear-gradient($s2_color1, $s2_color2);
}

span.s3 {
  background: -webkit-linear-gradient($s3_color1, $s3_color2);
  background: -o-linear-gradient($s3_color1, $s3_color2);
  background: -moz-linear-gradient($s3_color1, $s3_color2);
  background: linear-gradient($s3_color1, $s3_color2);
}

span.s4 {
  background: -webkit-linear-gradient($s4_color1, $s4_color2);
  background: -o-linear-gradient($s4_color1, $s4_color2);
  background: -moz-linear-gradient($s4_color1, $s4_color2);
  background: linear-gradient($s4_color1, $s4_color2);
}

.current_word {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);;
}

h5 .current_word, h1 .current_word {
  border-bottom-width: 2px;
}

h4 .current_word {
  border-bottom-width: 3px;
}

span.underline.s0,
span.underline.s1,
span.underline.s2,
span.underline.s3,
span.underline.s4,
span.underline.s5 {
  background: none;
  border-bottom: none;
}

span.underline.s0 {
  border-bottom: 3px $s0_color3 solid;
}

span.underline.s1 {
  border-bottom: 3px $s1_color3 solid;
}

span.underline.s2 {
  border-bottom: 3px $s2_color3 solid;
}

span.underline.s3 {
  border-bottom: 3px $s3_color3 solid;
}

span.underline.s4 {
  border-bottom: 3px $s4_color3 solid;
}

.word {
  cursor: pointer;
}

.w {
  padding: 0 1px;
  margin-right: -1px;
  border-radius: 1px;
}

span.underline.current_word {
  background: rgba(0, 0, 0, 0.2);
}
