.text-list {
  .text-listing {
    margin-bottom: 1rem;

    h1 {
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.3rem;
      margin: 0;
    }

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.text {
  .word {
    cursor: pointer;
  }
}
