- content_for :title, 'Language artworks'

- content_for :header_image_class, 'europe'
- content_for :header_title, 'Choose language'
- content_for :header_subtitle, 'Language artworks'

= render 'texts/language_choice', url_prefix: '/artworks'
