- content_for :title, 'Edit language'

- content_for :header_image_class, 'factory'
- content_for :header_title, 'Edit language'
- content_for :header_subtitle, 'Admin settings'

.container
  = render 'form'
