<h4>Languages - List</h4>

<%= link_to 'Add New', new_language_path, class: 'button', title: 'Add a new language' %>

<div class="row">
  <div class="one-half column">
    <table class="u-full-width">
      <tr>
        <th></th>
      </tr>
     
      <% @languages.each do |language| %>
        <tr>
          <td><%= link_to language.name, edit_language_path(language), title: 'Edit Language Name' %><%=  %></td>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="one-half column">
    <p>Here you can see a list of all languages which are available in the system. Users can asign those languages to their texts to keep vocabulary separate between different languages.</p>
  </div>
</div>
