<% content_for :title, 'Languages' %>

<h4>List of Languages</h4>

<div class="row">
  <div class="two-thirds column">
    <table class="u-full-width">
      <tr>
        <th></th>
      </tr>
     
      <% @languages.each do |language| %>
        <tr>
          <td><%= link_to language.name, '/languages/' + language.name.downcase + '/edit', title: 'Edit Language Name' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="one-third column">
    <%= link_to 'Add New', new_language_path, class: 'button button-primary u-full-width', title: 'Add a new language' %>
    <%= link_to fa_icon("chevron-left") + " Back", settings_path, class: 'button u-full-width', title: 'Back to Settings' %>
    <p>Here you can see a list of all languages which are available in the system. Users can asign those languages to their texts to keep vocabulary separate between different languages.</p>
  </div>
</div>
