- content_for :title, '%s (%s)' % [@user.name, @user.role_name]

- content_for :header_image_style, @user.languages.sample.try(:current_artwork_style)
- content_for :header_image_class, 'bar'
- content_for :header_title, @user.name
- content_for :header_subtitle, @user.role_name

div.container
  div.row
    div.one-third.column
      .u-centered
        = image_tag avatar_url(@user), class: 'profile-picture', style: 'margin-bottom: 1em;'

        - if @user == current_user
          = link_to fa_icon("user") + ' Edit your profile', edit_user_registration_path, class: 'button u-full-width'
    div.two-thirds.column
      p
        = "This User has been a member of this website since #{@user.created_at.strftime("%d %B %Y")} (#{ ChronicDuration.output( (Time.now - @user.created_at), weeks: true, format: :long, units: 2)}). "
        - if @words.count > 0
          = "Since then they have been working on learning and improving their reading skills in #{@words.map{ |l, w| l }.to_sentence}."

      - if @user.about and @user.about.strip != ""
        h2 About me
        p= simple_format @user.about.strip

      - trophy_header = false
      - if @words.count > 0
        - @words.each do |l, w|
          - if w >= 100
            - if not trophy_header
              h2 Trophy case
              - trophy_header = true

            h4 style="margin-bottom: 0; margin-top: 0.6em"
              = l
            div.row.no-wrap style="margin-top: 0"
              div.two.columns.centered
                = image_tag "ribbon.png", class: "no-border"
              - level = w.to_f/1000.to_f
              - percentage = ((w % 1000).to_f/1000.to_f * 100).round
              div.four.columns style="text-align: left"
                h5 style="margin-bottom: 0; margin-top: 0.5em" title="#{@user.name} has added a total of #{number_with_precision w, precision: 0, delimiter: ','} #{"word".pluralize w} so far."
                  | Level
                  - if w < 1000
                    = number_with_precision level, precision: 1, delimiter: ','
                  - else
                    = level.floor
                div.progress title="#{@user.name} is #{percentage}% to the next level."
                  div.current style="width: #{percentage}%;"
                span style="color: gray;" for words added.
              div.two.columns.centered
                = image_tag "trophy.png", class: "no-border"
              div.four.columns style="text-align: left"
                - w_familiar = if @words_familiar[l] then @words_familiar[l] else 0 end
                - percentage = ((w_familiar % 1000).to_f/1000.to_f * 100).round
                h5 style="margin-bottom: 0; margin-top: 0.5em" title="#{@user.name} has rated a total of #{number_with_precision w_familiar, precision: 0, delimiter: ','} #{"word".pluralize w_familiar} to be familiar to them (rating of three or above)."
                  | Level
                  - level = w_familiar.to_f/1000.to_f
                  - if level >= 0.1 and level < 1
                    = number_with_precision level, precision: 1, delimiter: ','
                  - else
                    = level.floor
                div class="progress" title="#{@user.name} is #{percentage}% to the next level."
                  div class="current" style="width: #{percentage}%;"
                span style="color: gray;"
                  | for
                  alias title="Words with a rating of three or above are considered familiar. That is, you probably remember them more often than you forget them." familiar words
                  | .
