- content_for :title, 'New replacement'

- content_for :header_image_class, 'factory'
- content_for :header_title, 'New replacement'
- content_for :header_subtitle, 'Admin settings'

.container
  = render 'form'
