audio {
  width: 100%;
  margin-top: 1em;
}

.audiojs {
  height: 22px;
  background: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  margin: 1em auto;
  font: inherit;
  font-size: 14px;
  width: 100%;
  position: relative;

  .play-pause {
    width: 25px;
    height: 20px;
    padding: 0px 8px 0px 0px;
    border: 0;
    opacity: 0.4;
    transition: opacity 1s;

    &:hover {
      opacity: 0.7;
      transition: opacity 1s;
    }
  }
  p {
    width: 25px;
    height: 20px;
    margin: -3px 0px 0px -1px;
  }
  .scrubber {
    border: none;
    background: #fff;
    position: absolute;
    left: 3rem;
    right: 10rem;
    height: 10px;
    margin: 6px 0;
    width: auto;
  }
  .progress {
    height: 7px;
    width: 0px;
    background: none;
    border-bottom: $color_accent 4px solid;
  }
  .loaded {
    height: 7px;
    background: none;
    border-bottom: #eee 4px solid;
  }
  .time {
    width: 100px;
    position: absolute;
    right: 0;
    height: 25px;
    line-height: 25px;
    border: 0;
    text-align: right;
    margin-top: -2px;
    opacity: 0.4;
    transition: opacity 1s;

    &:hover, &:hover em, &:hover strong {
      opacity: 1;
      transition: opacity 1s;
    }
    &, & em, & strong {
      color: black;
      font-weight: 200;
      text-shadow: none;
      padding: 0;
    }
  }
  .error-message {
    height: 24px;
    line-height: 24px;
  }
}
