* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.7em;
  line-height: 1.8;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  color: $color_darker;
}

footer {
  text-align: center;
  margin: 5rem 0;
  font-size: 1.4rem;

  a {
    color: #777;
    text-decoration: none;
    padding: 0 .5rem;
    border: 0;

    &:hover {
      color: black;
      border: 0;
    }
  }
  div {
    color: #555;
  }
}
