.table-button {
  border: 0;
  color: black;

  &:hover {
    border: 0;
  }
}
.buttons {
  margin-bottom: 2rem;
  width: 100%;

  .right {
    float: right;
  }

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    margin: 0 0.5rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
@media screen and (max-width : 760px) {
  .buttons {
    .right {
      margin: 0.5 0;
      width: 100%;
      float: none;
    }

    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
      display: block;
      width: 100%;
      margin: 0.5rem 0;
      float: none;
    }
  }
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $color_darker;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #fff;
  cursor: pointer;
  box-sizing: border-box;
  transition: border-color 0.4s;

  &:hover, &:focus {
    color: $color_darker;
    outline: 0;
    border-bottom: 1px solid $color_accent;
    transition: border-color 0.4s;
  }
  &.button-primary {
    color: #FFF;
    background-color: $color_accent;
    border-color: $color_accent;
    &:hover, &:focus {
      color: #FFF;
      background-color: $color_dark_accent;
      border-color: $color_dark_accent;
    }
  }
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  &:focus {
    border: 1px solid $color_accent;
    outline: 0;
  }
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

label, legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"], input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

button, .button {
  margin-bottom: 1rem;
}
input, textarea, select, fieldset {
  margin-bottom: 1.5rem;
}
form {
  margin-bottom: 2.5rem;
}
