@media (min-width: 550px) {
  header .container {
    width: 90%;
  }
}

header {
  background: $color_darker;
  color: $color_lighter;
  text-align: center;
  padding: 6rem 0 4rem 0;
  overflow: hidden;
  position: relative;
  margin-top: $navbar_height;
  position: relative;

  .zoom {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: white;
    opacity: 0.5;

    &:hover {
      opacity: 0.7;
    }
  }

  a {
    color: white;

    &:hover {
      color: white;
      border-color: white;
    }
  }

  &.large {
    padding: 10rem 0 8rem 0;

    h1 {
      font-size: 5rem;
    }
  }

  &.x-large {
    padding: 15rem 0 13rem 0;

    h1, h2 {
      opacity: 0;
    }
    .image {
      opacity: 0.7;
    }
  }

  .image {
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .europe        { background-image: image-url('europe.jpg'); }
  .factory       { background-image: image-url('factory.jpg'); }
  .bar           { background-image: image-url('bar.jpg'); }
  .bottlemessage { background-image: image-url('bottlemessage.jpg') }

  img {
    height: 20rem;
    margin-top: -6rem;
  }

  h1 {
    margin: 0;
  }

  h2 {
    font-size: 2.4rem;
  }
}

header, .notice, .alert {
  & + .container {
    margin-top: 2rem;
  }
}

.notice, .alert {
  color: white;
  padding: 1.4rem;
  display: none;
}

.notice {
  background-color: $color_accent;
}

.alert {
  background-color: #E04444;
}
