.panel {
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  .fa-check {
    color: #17A4A2;
  }

  .panel-header {
    color: #191919;
    border-bottom: #e1e5e5 4px solid;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    font-size: 1.7rem;
    margin: 1rem 0;
    font-weight: 400;

    span {
      float: right;
    }
  }
}
