.lookup {
  position: fixed;
  background-color: #efefef;
  background: -webkit-linear-gradient(#ffffff, #efefef);
  background: -o-linear-gradient(#ffffff, #efefef);
  background: -moz-linear-gradient(#ffffff, #efefef);
  background: linear-gradient(#ffffff, #efefef);
  padding: 1rem 0;
  display: none;
  overflow: overflow;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  border-top: 1px solid #ADADAD;
  box-sizing: border-box;

  #rword {
    margin: 0;
    font-weight: 200;
  }
  #close-btn {
    display: inline-block;
    margin-top: -1em;
    margin-bottom: 0.5em;
    cursor: pointer;
    span {
      margin-right: 0.4rem;
      visibility: hidden;
      font-variant: small-caps;
    }
    &:hover {
      span {
        visibility: visible;
      }
    }
  }
  input {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    font-size: 16px;
    border-bottom: 1px dashed gray;
    background: inherit;
    &:focus {
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
      outline: none;
    }
    &.dirty {
      border-bottom-color: red;
    }
  }
  #description {
    margin-top: 0.5em;
    font-size: 14px;
    text-align: center;
  }
  #buttons {
    margin-top: 3px;
    text-align: center;
    span {
      width: 28px;
      display: inline-block;
      text-align: center;
      border: 1px solid black;
      cursor: pointer;
      margin: 0 0.3rem;
      font-size: 1.6rem;
    }
    span.s6 {
      background-color: #CFD2D9;
    }
  }
  #links {
    font-size: 12px;
    margin-top: 0.5em;
    a {
      display: inline-block;
      cursor: pointer;
    }
  }
  h4 {
    font-size: 1.4em;
    margin-bottom: 0;
  }
}

#close-container {
  display: inline;
}

#close-btn {
  float: right;
}

#buttons {
  float: left;
}

#description {
  display: none;
}

@media (min-width: 750px) {
  #close-container {
    display: block;
  }

  #close-btn, #buttons {
    float: none;
  }

  #description {
    display: block;
  }
}
