@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500&subset=latin,cyrillic';

html {
  box-sizing: border-box;
  // makes it so that 1rem = 10px anywhere in the layout so long as the user
  // has set his default font size to 16px.
  font-size: 62.5%;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.3rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h5,
h6,
strong,
b,
th {
  font-weight: 500;
}

a {
  color: $color-black;
  cursor: pointer;
  text-decoration: underline;
}

.u-right {
  float: right;
}
