@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500&subset=latin,cyrillic';

html {
  box-sizing: border-box;
  // makes it so that 1rem = 10px anywhere in the layout so long as the user
  // has set his default font size to 16px.
  font-size: 62.5%;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 2.3rem;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 300;
}

h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: 400;
}

h1 { font-size: 4.0rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.9rem; }
h5 { font-size: 1.7rem; }

a {
  color: $color-black;
  cursor: pointer;
  text-decoration: underline;
}

.u-right {
  float: right;
}
