.will-paginate {
  text-align: right;

  a {
    border: 0.1rem solid $color-gray;
    border-radius: 0.2rem;
    color: $color-gray;
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 3rem;
    margin-right: 0.5rem;
    text-align: center;
    text-decoration: none;
    width: 3rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    &:hover {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%,
                                        rgba(0, 0, 0, .1));
    }

    &.disabled {
      border: 0.1rem solid $color-light-gray;
      color: $color-light-gray;

      &:hover {
        background-image: none;
      }
    }
  }
}
