- content_for :title, 'Home'

- content_for :header_image_class, 'bar'
- content_for :header_title, "Hello, #{@user.name}!"
- content_for :header_subtitle, link_to(@compliment.value, reader_path(@compliment.language) + "?q=#{@compliment.value}").html_safe

.container
  .row
    .two-thirds.column
      p It is very nice to see you (back) on this website. There is always a lot to do when learning a language, so get started! :)

      h4 Activities
      - if current_user.languages.count > 0
        ul
          - current_user.languages.each do |lang|
            - vocab = Note.vocabulary_for_review_count current_user, lang
            - if vocab > 0
              li
                = image_tag flag_icon_path(lang), style: 'height: 16px;'
                = " There are #{vocab} #{lang.name} words waiting for review in the "
                = link_to 'vocabulary trainer', vocabulary_path(lang)
                | .
          - current_user.languages.each do |lang|
            li
              = image_tag flag_icon_path(lang), style: 'height: 16px;'
              = " You could "
              = link_to "read something in #{lang.name}", texts_path(lang)
              | .

    .one-third.column
      = image_tag avatar_url(@user), class: 'profile-picture u-full-width'
