- content_for :title, 'Word list'

- content_for :header_image_class, 'europe'
- content_for :header_title, 'Choose language'
- content_for :header_subtitle, 'Word list'

= render 'texts/language_choice', url_prefix: '/words'
