$btn-height: 3.5rem;
$btn-side-padding: 1.5rem;
$btn-border-weight: 0.1rem;

.buttons {
  padding: 1rem 0;
  text-align: right;
}

.btn {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .03) 30%,
                                    rgba(0, 0, 0, .05));
  border: $btn-border-weight solid $color-light-gray;
  border-radius: 0.2rem;
  color: $color-black;
  display: inline-block;
  line-height: $btn-height - 2*$btn-border-weight;
  padding: 0 $btn-side-padding;
  text-decoration: none;
  transition: all 0.1s linear;
  font-size: 1.6rem;

  &.primary {
    background-color: $color-green;
    border-color: $color-green;
    color: $color-white;
  }
  &.danger {
    background-color: $color-danger;
    border-color: $color-danger;
    color: $color-white;
  }
  &:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%,
                                      rgba(0, 0, 0, .1));
  }
}
