.vc-form-control {
  border: 1px solid $color-light-gray;
  padding: 1rem;
  margin-top: 1rem;

  label {
    display: block;
    font-weight: 500;

    &:after {
      content: ':';
    }
  }

  input, textarea {
    border: none;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0.4rem;
    width: 100%;

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
  }
}
