$color-white: #fff;
$color-black: #191919;
$color-light-gray: #d4d4d4;

$container-width: 920px;

@import 'bourbon';
@import 'neat';
@import 'font-awesome';
@import 'lightbox';

@import 'base/header';
@import 'base/typography';

@import 'forms/vertical';

@import 'pages/texts';
