a.toggle-link {
  color: black;
  border: 0;

  &:hover {
    color: black;
    border: 0;
  }
}

p.warning {
  background-color: #DE352E;
  color: white;
  padding: .6rem 1.1rem;
  border-radius: 4px;
  margin-top: -2em;
  display: none;
}

.one-third, .two-thirds {
  img {
    max-width: 100%;
    border: 1px solid #EAEAEA;
    padding: 2px;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.pagination {
  text-align: center;
  padding: 0.3em 0.6em;
  margin-bottom: 0.5em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em;
    border: 0; }
  .pagination a:hover {
    border: 0; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    background-color: #212F3F;
    color: white;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }

.pagination_info {
  text-align: center;
  margin-bottom: 1.5em; }

.image-link, .lb-close {
  border: 0;
  
  &:hover {
    border: 0;
  }
}

.word-list-rating {
  width: 1.5em;
  display: inline-block;
  text-align: center;
  border: gray 1px solid;
}

td, th {
  padding: 6px 15px;
}

table, tr, td {
  border-color: #E9E9E9 !important;
}

td > alias > i {
  margin-right: .7rem;
  margin-left: .65rem;
}

.lookup {
  position: fixed;
  background-color: #fff;
  padding: 0;
  margin-top: 1em;
  display: none;
  overflow: overflow;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eee;

  #close-btn {
    display: block;
  }

  input {
    margin-bottom: 1em;
    width: 100%;
    border: 0;
    font-size: 16px;
    border-bottom: 1px dashed gray;

    &:focus {
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
      outline: none;
    }
  }

  #description {
    margin-top: 0.5em;
    font-size: 14px;
    text-align: center;
  }

  #buttons {
    text-align: center;

    span {
      width: 25px;
      display: inline-block;
      text-align: center;
      border: 1px solid black;
      cursor: pointer;
    }

    span.s6 {
      background-color: #CFD2D9;
    }
  }

  #links {
    text-align: center;
    font-size: 12px;
    margin-top: 0.5em;

    a {
      display: inline-block;
      cursor: pointer;
    }
  }

  h4 {
    font-size: 1.5em;
    margin-bottom: 0;
  }
}

span.s0 { background-color: #FA737B; }
span.s1 { background-color: #FAB75C; }
span.s2 { background-color: #F3F79C; }
span.s3 { background-color: #D3F2BC; }
span.s4 { background-color: #CEE5F9; }
span.s5 { background-color: inherit; }
span.s6 { background-color: inherit; }

span.s0 {
  background: -webkit-linear-gradient(#FA737B, #F56E70);
  background: -o-linear-gradient(#FA737B, #F56E70);
  background: -moz-linear-gradient(#FA737B, #F56E70);
  background: linear-gradient(#FA737B, #F56E70);
}

span.s1 {
  background: -webkit-linear-gradient(#FAB75C, #F7BD56);
  background: -o-linear-gradient(#FAB75C, #F7BD56);
  background: -moz-linear-gradient(#FAB75C, #F7BD56);
  background: linear-gradient(#FAB75C, #F7BD56);
}

span.s2 {
  background: -webkit-linear-gradient(#F3F79C, #FAF69A);
  background: -o-linear-gradient(#F3F79C, #FAF69A);
  background: -moz-linear-gradient(#F3F79C, #FAF69A);
  background: linear-gradient(#F3F79C, #FAF69A);
}

span.s3 {
  background: -webkit-linear-gradient(#D3F2BC, #B8F1B3);
  background: -o-linear-gradient(#D3F2BC, #B8F1B3);
  background: -moz-linear-gradient(#D3F2BC, #B8F1B3);
  background: linear-gradient(#D3F2BC, #B8F1B3);
}

span.s4 {
  background: -webkit-linear-gradient(#CEE5F9, #CFDFEB);
  background: -o-linear-gradient(#CEE5F9, #CFDFEB);
  background: -moz-linear-gradient(#CEE5F9, #CFDFEB);
  background: linear-gradient(#CEE5F9, #CFDFEB);
}

.word { cursor: pointer; }

.container {
  max-width: 800px; }
.docs-section {
  padding: 4rem 0;
  margin-bottom: 0; 
  margin-top: 3rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }

.navbar,
.navbar-spacer {
  width: 100%;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }
.navbar-spacer {
  display: none; }
.navbar > .container {
  width: 100%; }
.navbar-list {
  list-style: none;
  margin-bottom: 0; }
.navbar-item {
  position: relative;
  margin-bottom: 0; }
.navbar-logo {
  display: none; }
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
  border: 0; }
.navbar-link:hover {
  border: 0; }
.navbar-link.active {
  color: #33C3F0; }
.navbar-spacer {
  display: block; }
/* Re-overiding the width 100% declaration to match size of % based container */
.navbar > .container {
  width: 80%; }

/* Larger than phone */
@media (min-width: 550px) {
  .docs-section {
    padding: 6rem 0; }

  .lookup {
    left: auto;
    bottom: auto;
    width: auto;
    padding: 0 0.5em;
    border-top: 0;

    #close-btn {
      display: none;
    }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    width: 100%;
    height: 5.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-logo {
    height: 3rem;
    vertical-align: middle;
    padding: 1rem 0;
    margin-right: 2rem;
    display: block; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 5.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .navbar > .container {
    width: 80%; }
}
