audio {
  width: 100%;
  margin-top: 1em;
}

.audiojs {
  height: 22px;
  background: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  margin: 1em auto;
  font: inherit;
  font-size: 14px;
  
  .play-pause {
    width: 25px;
    height: 20px;
    padding: 0px 8px 0px 0px;
    border: 0;
  }
  
  p {
    width: 25px;
    height: 20px;
    margin: -3px 0px 0px -1px;
  }
  
  .scrubber {
    border: 1px solid #191919;
    background: #eee;
    width: 310px;
    height: 10px;
    margin: 5px;
  }
  
  .progress {
    height: 10px;
    width: 0px;
    background: #212F3F;
    background-image: none;
  }
  
  .loaded {
    height: 10px;
    background: #eee;
    background-image: none;
  }

  .time, .time em {
    float: left;
    height: 25px;
    line-height: 25px;
    border: 0;
    color: black;
    text-shadow: none;
    padding: 0;
    text-align: left;
  }
  
  .error-message {
    height: 24px;
    line-height: 24px;
  }
}

.centered {
  text-align: center;
}

.p80 {
  width: 80%;
}

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 999;
}

/* Custom styles */

.corner-ribbon.sticky {
  position: fixed;
}

.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left {
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left {
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right {
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}



.one-third alias {
  border-bottom: 1px dotted gray;
}

a.toggle-link {
  color: black;
  border: 0;

  &:hover {
    color: black;
    border: 0;
  }
}

p.warning {
  background-color: #DE352E;
  color: white;
  padding: .6rem 1.1rem;
  border-radius: 4px;
  display: none;
}

.one-third, .two-thirds {
  img {
    max-width: 100%;
    padding: 2px;

    &.no-border {
      border: none;
    }

    &.border {
      border: 1px solid #aaa;
    }

    &.profile-picture {
      border: 3px solid #191919;
      border-radius: 6000px;
      padding: 0;
      width: 75%;
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.pagination {
  text-align: center;
  padding: 0.3em 0.6em;
  margin-bottom: 0.5em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em;
    border: 0; }
  .pagination a:hover {
    border: 0; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    background-color: #212F3F;
    color: white;
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }

.pagination_info {
  text-align: center;
  margin-bottom: 1.5em; }

.image-link, .lb-close {
  border: 0;
  
  &:hover {
    border: 0;
  }
}

.word-list-rating {
  width: 1.5em;
  display: inline-block;
  text-align: center;
  border: gray 1px solid;
}

td, th {
  padding: 6px 15px;
}

table, tr, td {
  border-color: #E9E9E9 !important;
}

td > alias > i {
  margin-right: .7rem;
  margin-left: .65rem;
}

.lookup {
  position: fixed;
  background-color: #eaeaea;
  background: -webkit-linear-gradient(#ffffff, #eaeaea);
  background: -o-linear-gradient(#ffffff, #eaeaea);
  background: -moz-linear-gradient(#ffffff, #eaeaea);
  background: linear-gradient(#ffffff, #eaeaea);
  padding: 1rem 0;
  display: none;
  overflow: overflow;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 99;
  border-top: 1px solid #ADADAD;
  box-sizing: border-box;

  #close-btn {
    display: inline-block;
    margin-top: -1em;
    margin-bottom: 0.5em;
    cursor: pointer;

    span {
      visibility: hidden;
      font-variant: small-caps;
    }

    &:hover {
      span {
        visibility: visible;
      }
    }
  }

  input {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    font-size: 16px;
    border-bottom: 1px dashed gray;
    background: inherit;

    &:focus {
      -webkit-box-shadow: 0;
      -moz-box-shadow: 0;
      box-shadow: 0;
      outline: none;
    }
  }

  #description {
    margin-top: 0.5em;
    font-size: 14px;
    text-align: center;
  }

  #buttons {
    margin-top: 3px;
    text-align: center;

    span {
      width: 25px;
      display: inline-block;
      text-align: center;
      border: 1px solid black;
      cursor: pointer;
    }

    span.s6 {
      background-color: #CFD2D9;
    }
  }

  #links {
    font-size: 12px;
    margin-top: 0.5em;

    a {
      display: inline-block;
      cursor: pointer;
    }
  }

  h4 {
    font-size: 1.4em;
    margin-bottom: 0;
  }
}

$s0_color1: #F1A899;
$s0_color2: #F1A899;
$s0_color3: #E46A5B;

$s1_color1: #F9C889;
$s1_color2: #F9C889;
$s1_color3: #F2A550;

$s2_color1: #FFF391;
$s2_color2: #FFF391;
$s2_color3: #F2E344;

$s3_color1: #CAF3A4;
$s3_color2: #CAF3A4;
$s3_color3: #9AE085;

$s4_color1: #D0E1F2;
$s4_color2: #D0E1F2;
$s4_color3: #ADC0E0;

span.s0 { background-color: $s0_color1; }
span.s1 { background-color: $s1_color1; }
span.s2 { background-color: $s2_color1; }
span.s3 { background-color: $s3_color1; }
span.s4 { background-color: $s4_color1; }
span.s5 { background-color: inherit; }
span.s6 { background-color: inherit; }

span.s0 {
  background: -webkit-linear-gradient($s0_color1, $s0_color2);
  background: -o-linear-gradient($s0_color1, $s0_color2);
  background: -moz-linear-gradient($s0_color1, $s0_color2);
  background: linear-gradient($s0_color1, $s0_color2);
}

span.s1 {
  background: -webkit-linear-gradient($s1_color1, $s1_color2);
  background: -o-linear-gradient($s1_color1, $s1_color2);
  background: -moz-linear-gradient($s1_color1, $s1_color2);
  background: linear-gradient($s1_color1, $s1_color2);
}

span.s2 {
  background: -webkit-linear-gradient($s2_color1, $s2_color2);
  background: -o-linear-gradient($s2_color1, $s2_color2);
  background: -moz-linear-gradient($s2_color1, $s2_color2);
  background: linear-gradient($s2_color1, $s2_color2);
}

span.s3 {
  background: -webkit-linear-gradient($s3_color1, $s3_color2);
  background: -o-linear-gradient($s3_color1, $s3_color2);
  background: -moz-linear-gradient($s3_color1, $s3_color2);
  background: linear-gradient($s3_color1, $s3_color2);
}

span.s4 {
  background: -webkit-linear-gradient($s4_color1, $s4_color2);
  background: -o-linear-gradient($s4_color1, $s4_color2);
  background: -moz-linear-gradient($s4_color1, $s4_color2);
  background: linear-gradient($s4_color1, $s4_color2);
}

span.underline.s0, span.underline.s1, span.underline.s2, span.underline.s3, span.underline.s4, span.underline.s5 {
  background: none; }

span.underline.s0 {
  border-bottom: 3px $s0_color3 solid; }

span.underline.s1 {
  border-bottom: 3px $s1_color3 solid; }

span.underline.s2 {
  border-bottom: 3px $s2_color3 solid; }

span.underline.s3 {
  border-bottom: 3px $s3_color3 solid; }

span.underline.s4 {
  border-bottom: 3px $s4_color3 solid; }

.word { cursor: pointer; }

.docs-section {
  padding: 4rem 0;
  margin-bottom: 0; 
  margin-top: 3rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }

.navbar {
  background-color: #F5F5F5;
  background: -webkit-linear-gradient(#F5F5F5, #ffffff);
  background: -o-linear-gradient(#F5F5F5, #ffffff);
  background: -moz-linear-gradient(#F5F5F5, #ffffff);
  background: linear-gradient(#F5F5F5, #ffffff); }

.navbar,
.navbar-spacer {
  width: 100%;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #EAEAEA; }
.navbar-spacer {
  display: none; }
.navbar > .container {
  width: 100%; }
.navbar-list {
  list-style: none;
  margin-bottom: 0; }
.navbar-item {
  position: relative;
  margin-bottom: 0; }
.navbar-logo {
  display: none; }
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-right: 35px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
  border: 0; }
.navbar-link:hover {
  border: 0; }
.navbar-link.active {
  color: #33C3F0; }
.navbar-spacer {
  display: block; }
/* Re-overiding the width 100% declaration to match size of % based container */
.navbar > .container {
  width: 80%; }

/* Larger than phone */
@media (min-width: 550px) {
  .docs-section {
    padding: 6rem 0; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    width: 100%;
    height: 5.5rem;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #EAEAEA; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-logo {
    height: 3rem;
    vertical-align: middle;
    padding: 1rem 0;
    margin-right: 2rem;
    display: block; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 5.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .navbar > .container {
    width: 80%; }
}
