.sidebar-counter {
  margin-bottom: 1em;
  h4 {
    margin-bottom: 0;
    font-weight: 400;
  }
  span {
    color: gray;
  }
}

.disabled_entry {
  color: gray;
  a {
    color: gray;
  }
}

.progress {
  background-color: hsl(0, 0%, 88%);

  .current {
    background-color: hsl(207, 70%, 61%);
    border: hsl(207, 70%, 50%) 1px solid;
    height: 0.2em;
    margin-bottom: 0.3em;
  }
}

.hint {
  opacity: 0.6;
  .word {
    border-bottom: 1px dotted #191919;
  }
}

.button-group {
  .button {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .button:hover + .button {
    border-top-color: #888;
  }

  .button:last-child:hover {
    border-bottom-color: #888;
  }

  .button:last-child {
    border-bottom: #bbb 1px solid;
  }

  .button-primary + .button {
    border-top-color: hsl(207, 70%, 61%);
  }

  .button-primary:hover + .button {
    border-top-color: hsl(207, 70%, 50%);
  }

  .button-primary:last-child:hover {
    border-bottom-color: hsl(207, 70%, 50%);
  }

  .button-primary:last-child {
    border-bottom: hsl(207, 70%, 50%) 1px solid;
  }
}

.fa-check {
  color: #0FC55C;
}

.fa-minus {
  color: #D24149;
}

.fa-star {
  color: #F7C91C;
}

.button {
  .fa-check, .fa-minus, .fa-star {
    color: black;
  }
}

.fa-toggle-on:before, .fa-toggle-off:before {
  font-size: 1.2em;
  vertical-align: middle;
}

.fa-toggle-on:before {
  color: hsl(207, 70%, 61%);
}

.fa-toggle-off:before {
  color: #555;
}

table.listing {
  margin-bottom: 0;
  margin-top: 1.5em;

  &:first-child {
    margin-top: 0;
  }
}

.showMoreText {
  font-size: 0.9em;
  color: #333;
  &:hover {
    border: none;
    color: black;
  }
}

.ui-widget {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  font-size: 1em;
}

.ui-autocomplete {
  background: white;
  border-radius: 0px;
}

.ui-menu .ui-menu-divider {
  border: none;
}

.ui-widget-content {
  border: 1px solid #C7C7C7;
}

.ui-menu-item,
.ui-menu .ui-menu-item {
  background: white;
  font-size: 1em;
  border: none;
}

.ui-menu .ui-state-focus {
  border: none;
  font-weight: bold;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  margin: 0;
}

.centered {
  text-align: center;
}

.p80 {
  width: 80%;
}

.one-third alias, .four alias {
  border-bottom: 1px dotted gray;
}

a.toggle-link {
  color: black;
  border: 0;
  &:hover {
    color: black;
    border: 0;
  }
}

p.warning {
  background-color: #DE352E;
  color: white;
  padding: .6rem 1.1rem;
  border-radius: 4px;
  display: none;
}

.one-third,
.two-thirds {
  img {
    max-width: 100%;
    padding: 2px;
    &.no-border {
      border: none;
    }
    &.border {
      border: 1px solid #aaa;
    }
    &.profile-picture {
      border: 1px solid #C7CCD0;
      padding: 0;
      width: 90%;
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-link,
.lb-close {
  border: 0;
  &:hover {
    border: 0;
  }
}

.word-list-rating, .vocabulary-rating {
  width: 1.5em;
  display: inline-block;
  text-align: center;
  border: gray 1px solid;
}

td,
th {
  padding: 6px 15px;
}

table,
tr,
td {
  border-color: #E9E9E9 !important;
}

td > alias > i {
  margin-right: .7rem;
  margin-left: .65rem;
}

.docs-section {
  padding: 4rem 0;
  margin-bottom: 0;
  margin-top: 1rem;
}

.docs-header {
  font-weight: 500;
}

.one-third {
  border-top: 1px solid #E1E1E1;
  padding-top: 1.5em;
  margin-top: 1.5em;
}

/* Larger than phone */

@media (min-width: 550px) {
  .docs-section {
    padding: 5rem 0;
  }
  .one-third {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}


/* Larger than tablet */

@media (min-width: 750px) {}
