@import '_base/variables';

.stat-block {
  margin-bottom: 2rem;
  text-align: right;
  color: #777;

  h4 {
    margin: 0;
    font-size: 3rem;
    color: black;
  }
}

#other_language {
  text-align: right;
}

.textbox {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5rem;
  
  a, a:hover {
    color: black;
    text-decoration: none;
  }
  h1 {
    font-size: 2.3rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.3rem;
    font-style: italic;
    margin: 0;
  }
  span {
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    text-align: right;
    font-style: italic;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: $colorDarkAccent;
  box-sizing: border-box;
}
.categories li {
  list-style-type: none;
  margin: 0;
}
.categories li a, .categories li.header {
  display: block;
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
  text-decoration: none;
  color: #eee;
  box-sizing: border-box;
}
.categories li a {
  font-size: 1.4rem;
}
.categories li.header {
  background-color: rgba(0,0,0,0.3);
  color: white;
}
.categories li a:hover, .categories li.current a {
  background-color: $colorAccent;
  color: white;
}
.fa-check {
  color: #0FC55C;
}
.fa-minus {
  color: #D24149;
}

.textHeader {
  h6 {
    margin: 0;
  }
}
