$s0_color: #F5ADAD; // red
$s1_color: #F3D3B3; // orange
$s2_color: #FEFFC0; // yellow
$s3_color: #C1FFD6; // green
$s4_color: #CFEAFF; // blue
$s5_color: inherit;
$s6_color: inherit;

.w {
  cursor: pointer;
  padding: 0 1px;
  margin-right: -1px;
  border-radius: 1px;
}

.s0 { background-color: $s0_color; }
.s1 { background-color: $s1_color; }
.s2 { background-color: $s2_color; }
.s3 { background-color: $s3_color; }
.s4 { background-color: $s4_color; }
.s5 { background-color: $s5_color; }
.s6 { background-color: $s6_color; }

.list-rating, .list-rating:hover {
  text-align: center;
  font-weight: normal;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  border: 1px solid #ccc;
  color: black;
  text-decoration: none;
}

.current_word {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);;
}

h1 .current_word, h2 .current_word {
  border-bottom-width: 2px;
  border-color: white;
}

header {
  .w {
    &.s0, &.s1, &.s2, &.s3, &.s4 { background-color: inherit; }
    &.s0 { border-bottom: 3px solid mix($s0_color, rgba(255, 255, 255, 0.1)); }
    &.s1 { border-bottom: 3px solid mix($s1_color, rgba(255, 255, 255, 0.1)); }
    &.s2 { border-bottom: 3px solid mix($s2_color, rgba(255, 255, 255, 0.1)); }
    &.s3 { border-bottom: 3px solid mix($s3_color, rgba(255, 255, 255, 0.1)); }
    &.s4 { border-bottom: 3px solid mix($s4_color, rgba(255, 255, 255, 0.1)); }
  }  
}

#text_content {
  height: 20rem;
}

table.listing {
  td, th {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  td, th {
    padding-right: 0;
    padding-left: 0;
  }
  &.texts {
    td:first-child {
      text-align: center;
      width: 2.5em;
    }
  }
}

table.listing, .toggleVocabulary {
  .fa-check, &.fa-check {
    color: #0FC55C;
  }
  .fa-minus, &.fa-minus {
    color: #D24149;
  }
}

.cat-button {
  color: black;

  &:hover {
    border: 0
  }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: inherit;
  background: #17A4A2;
}

.ui-menu .ui-menu-item {
  padding: 1px 1em 1px .4em;
  font-size: 1.6rem;
}
