.progress {
  background-color: hsl(0, 0%, 88%);

  .current {
    background-color: hsl(207, 70%, 61%);
    border: hsl(207, 70%, 50%) 1px solid;
    height: 0.2em;
    margin-bottom: 0.3em;
  }
}

img.profile-picture {
  border: 1px solid #C7CCD0;
  padding: 0;
  border-radius: 4px;
  width: 75%;
}
