#vocab {
  h1 a, h1 a:hover {
    color: black;
    border: 0;
  }
  #word {
    display: inline-block;
  }
  #buttons {
    span {
      display: inline-block;
      width: 25px;
      border: 1px solid black;
      cursor: pointer;
      margin: 0 0.3rem;
    }
  }
}
