#vocab {
  h1 a, h1 a:hover {
    color: black;
    border: 0;
  }
  
  #word {
    display: inline-block;
    cursor: pointer;
  }

  #buttons {
    span {
      display: inline-block;
      height: 28px;
      width: 28px;
      font-size: 1.6rem;
      border: 1px solid black;
      cursor: pointer;
      margin: 0 0.3rem;
    }
  }
}
