h1 Hello #{@resource.name}!

p Did you request to change your password on escrit.eu? If so click the link below to create a new password. If you did not explicitly request this email, feel free to ignore it. Your password will not be changed unless you click the link.

p= link_to 'Change my password', url_for(controller: 'languages').sub("/languages", "/#/resetpassword?token=#{@token}"), class: 'btn primary'
