<section class="lookup">
  <div class="container">
    <div class="row">
      <div class="eight columns">
        <h4 id="rword">test</h4>
        <input id="lword" value="test" />
        <div id="links">
          <%=
            @services.each_with_index.map { |service, i|
              "<a t_href='%s' target='%s' title='%s'>%s</a>" % [service.url, service.short_name + '_' + i.to_s, service.name, service.short_name]
            }.join(' – ').html_safe
          %>
        </div>
      </div>
      <div class="four columns" style="vertical-align: middle">
        <div style="text-align: right" id="close-container">
          <span id="close-btn"><span>close</span> <%= fa_icon 'times' %></span>
        </div>
        <div id="buttons">
          <span class="s6" title="Shortcut: Control + 6">/</span>
          <span class="s0" title="Shortcut: Control + 0">0</span>
          <span class="s1" title="Shortcut: Control + 1">1</span>
          <span class="s2" title="Shortcut: Control + 2">2</span>
          <span class="s3" title="Shortcut: Control + 3">3</span>
          <span class="s4" title="Shortcut: Control + 4">4</span>
          <span class="s5" title="Shortcut: Control + 5">5</span>
          <div id="description"></div>
        </div>
      </div>
    </div>
  </div>
</section>
