section.lookup
  div.container
    div.row
      div.eight.columns
        h4 id="rword" test
        input id="lword" value="test"
        div id="links"
          = @services.each_with_index.map { |service, i| "<a t_href='%s' target='%s' title='%s'>%s</a>" % [service.url, service.short_name + '_' + i.to_s, service.name, service.short_name] }.join(' – ').html_safe
      div.four.columns style="vertical-align: middle"
        div style="text-align: right" id="close-container"
          span id="close-btn"
            span close
            = fa_icon 'times'
        div id="buttons"
          span.s6 title="Shortcut: Control + 6"= "/"
          span.s0 title="Shortcut: Control + 0" 0
          span.s1 title="Shortcut: Control + 1" 1
          span.s2 title="Shortcut: Control + 2" 2
          span.s3 title="Shortcut: Control + 3" 3
          span.s4 title="Shortcut: Control + 4" 4
          span.s5 title="Shortcut: Control + 5" 5
          span= fa_icon 'check', value: '', class: 'toggleVocabulary'
          div id="description"
