- content_for :title, "Create new #{current_language.name} text"

- content_for :header_image_class, 'europe'
- content_for :header_image_style, current_language.current_artwork_style
- content_for :header_title, "Create new #{current_language.name} text"

div.container
  = render 'form'
