- content_for :title, 'Quick Reader'

- content_for :header_image_class, 'europe'
- content_for :header_title, 'Choose language'
- content_for :header_subtitle, 'Quick reader'

= render 'texts/language_choice', url_prefix: '/reader'
