<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <style>
    body, html {
      margin: 0;
      padding: 0;
      background: #f9f8f8;
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 2.3rem;
    }

    html {
      box-sizing: border-box;
      font-size: 62.5%;
    }

    .container {
      font-family: Arial;
      max-width: 600px;
      margin: auto;
      border: #e6e6e6 1px solid;
      background: white;
      padding: 2rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    svg {
      margin: auto;
      display: inherit;
    }

    h1 {
      font-weight: 300;
      font-size: 20px;
    }

    a {
      color: #26a69a;
    }

    .btn {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, .03) 30%,
                                        rgba(0, 0, 0, .05));
      border: 0.1rem solid #d4d4d4;
      border-radius: 0.2rem;
      color: black;
      display: inline-block;
      line-height: 3.3rem;
      padding: 0 1.5rem;
      text-decoration: none;
      transition: all 0.1s linear;
      font-size: 1.6rem;
    }
    .btn.primary {
      background-color: #26a69a;
      border-color: #26a69a;
      color: #ffffff;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 3rem;
    }
    .btn:hover {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%,
                                        rgba(0, 0, 0, .1));
    }
  </style>
</head>
<body>
<div class="container">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 width="284px" height="98px" viewBox="0 0 284 98" enable-background="new 0 0 284 98" xml:space="preserve">
  <g enable-background="new    ">
  	<path d="M53.544,45.704c0,1.008-0.192,2.88-0.576,5.616H26.184l-0.144,1.584c-0.097,2.16,0.384,3.96,1.44,5.397
  		c1.055,1.44,2.135,2.905,3.24,4.394l-2.304,1.369c-1.2-1.682-2.401-3.385-3.6-5.112c-1.008-1.536-1.512-3.552-1.512-6.048
  		c0-5.088,2.016-9.36,6.048-12.816c3.839-3.312,8.352-4.968,13.536-4.968C49.991,35.12,53.544,38.648,53.544,45.704z M50.808,45.704
  		c0-5.231-2.353-7.848-7.056-7.848c-3.888,0-7.32,0.863-10.296,2.592c-3.312,1.92-5.544,4.633-6.696,8.136h23.832
  		C50.736,47.527,50.808,46.568,50.808,45.704z"/>
  	<path d="M83.424,35.984l-0.072,2.735h-6.336c-1.152,0-2.329,0.457-3.528,1.368c-1.296,1.057-1.944,2.28-1.944,3.672
  		c0,1.97,0.96,4.068,2.88,6.3c1.919,2.232,2.88,4.356,2.88,6.373c0,2.159-0.84,3.974-2.52,5.438c-1.681,1.465-3.481,2.195-5.4,2.195
  		h-8.64v-2.735h8.64c1.008,0,2.124-0.479,3.348-1.438s1.836-2.111,1.836-3.457c0-1.871-0.961-3.889-2.88-6.049
  		c-1.92-2.158-2.88-4.365-2.88-6.624c0-2.304,1.008-4.248,3.024-5.832c1.68-1.296,3.408-1.943,5.184-1.943L83.424,35.984
  		L83.424,35.984z"/>
  	<path d="M116.902,39.504c-2.545,0-4.561,0.025-6.048,0.072C99.718,39.864,94.15,44.529,94.15,53.574
  		c0,5.266,4.608,7.896,13.824,7.896c4.271,0,7.224-0.312,8.856-0.936v2.229c-3.312,0.961-5.569,1.44-6.768,1.44
  		c-12.433,0-18.648-3.528-18.648-10.584c0-7.009,2.711-11.76,8.136-14.256c3.552-1.68,9.312-2.544,17.28-2.592L116.902,39.504z"/>
  	<path d="M145.99,38.302c-1.44,0-2.473,0.097-3.096,0.289c-1.008,0.339-2.019,0.676-3.024,1.014
  		c-4.417,1.351-6.624,4.125-6.624,8.322v15.562h-2.736V47.927c0-3.087,0.695-5.451,2.088-7.092c1.248-1.496,3.384-2.751,6.408-3.765
  		c2.208-0.723,3.336-1.108,3.384-1.157c0.67-0.144,1.872-0.217,3.6-0.217V38.302L145.99,38.302z"/>
  	<path d="M161.83,64.352h-3.023c-0.961-1.295-1.439-3.168-1.439-5.615V35.984h2.734v22.752
  		C160.102,60.656,160.678,62.527,161.83,64.352z"/>
  	<path d="M177.166,63.488h-2.736v-24.48h-5.4v-2.735h5.4V10.568h2.736V63.488L177.166,63.488z"/>
  	<path d="M194.949,59.312c0,0.769-0.256,1.402-0.768,1.906c-0.512,0.506-1.154,0.758-1.935,0.758c-0.729,0-1.353-0.252-1.86-0.758
  		c-0.512-0.504-0.768-1.14-0.768-1.906c0-0.722,0.256-1.332,0.768-1.836s1.131-0.758,1.86-0.758c0.776,0,1.423,0.254,1.935,0.758
  		S194.949,58.592,194.949,59.312z"/>
  	<path d="M231.957,45.704c0,1.008-0.193,2.88-0.576,5.616h-26.783l-0.145,1.584c-0.098,2.16,0.383,3.96,1.439,5.397
  		c1.055,1.44,2.135,2.905,3.238,4.394l-2.305,1.369c-1.199-1.682-2.399-3.385-3.602-5.112c-1.008-1.536-1.512-3.552-1.512-6.048
  		c0-5.088,2.016-9.36,6.049-12.816c3.838-3.312,8.354-4.968,13.535-4.968C228.404,35.12,231.957,38.648,231.957,45.704z
  		 M229.221,45.704c0-5.231-2.353-7.848-7.057-7.848c-3.889,0-7.32,0.863-10.295,2.592c-3.312,1.92-5.545,4.633-6.697,8.136h23.832
  		C229.148,47.527,229.221,46.568,229.221,45.704z"/>
  	<path d="M264.212,52.544c0,5.425-2.808,9.024-8.425,10.8c-1.344,0.434-2.544,0.648-3.6,0.648c-1.059,0-2.256-0.217-3.602-0.648
  		c-5.615-1.728-8.424-5.328-8.424-10.8V35.912h2.734v16.632c0,4.176,2.207,6.937,6.623,8.28c1.058,0.287,1.944,0.432,2.664,0.432
  		c0.721,0,1.607-0.145,2.664-0.432c4.416-1.344,6.625-4.104,6.625-8.28V35.912h2.735v16.632H264.212z"/>
  </g>
  </svg>

    <%= yield %>
  </div>
  </body>
</html>
