- content_for :title, 'Vocabulary trainer'

- content_for :header_image_class, 'europe'
- content_for :header_title, 'Choose language'
- content_for :header_subtitle, 'Vocabulary trainer'

= render 'texts/language_choice', url_prefix: '/vocabulary'
